<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-4" *ngFor="let item of loadCards()">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">{{ item.title }}</h5>
              <p class="card-text">{{ item.description }}</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Pagination buttons -->
      <nav aria-label="Pagination" class="d-flex justify-content-center">
        <ul class="pagination">
          <li class="page-item">
            <a
              class="page-link"
              aria-label="Previous"
              (click)="goToPreviousPage()"
            >
              <span aria-hidden="true">&laquo; Previous</span>
            </a>
          </li>

          <li class="page-item">
            <a class="page-link" aria-label="Next" (click)="goToNextPage()">
              <span aria-hidden="true">Next &raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="col-sm-3">
      <!-- Content for the right column -->
      <div class="row">
        <div class="col-sm-12" *ngFor="let item of cardItems">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">{{ item.title }}</h5>
              <p class="card-text">{{ item.description }}</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
