<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top border">
  <div class="container">
    <!-- Animated Brand -->
    <a class="navbar-brand" routerLink="/">
      <span class="brand-text">A</span>lmighty
      <span class="brand-text">C</span>oders
    </a>

    <!-- Navbar toggler button for smaller screens -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar collapse section with links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left side navigation links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/problems" style="color: #333"
            >Problems</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contest" style="color: #333"
            >Contest</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/discuss" style="color: #333"
            >Discuss</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/interview" style="color: #333"
            >Interview</a
          >
        </li>
      </ul>

      <!-- Right side icons and user info -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <!-- Bell icon -->
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="bi bi-bell-fill" style="color: #17cbf8"></i>
          </a>
        </li>
        <!-- Fire icon -->
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="bi bi-fire" style="color: #ff5722"></i>
          </a>
        </li>
        <!-- Profile picture -->
        <li class="nav-item">
          <a class="nav-link" href="#">
            <img
              src="https://via.placeholder.com/50"
              alt="Profile picture"
              style="width: 25px; height: 25px; border-radius: 50%"
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
