<!-- topic-details.component.html -->
<div class="card">
  <div class="card-body">
    <h5 class="card-title">
      {{ selectedTopic ? selectedTopic : "Special title treatment" }}
    </h5>
    <p class="card-text" #cardContent>
      {{
        selectedTopic
          ? "Details for " + selectedTopic
          : "Sometimes caching issues can cause problems. Clear the npm cache and restart your development server:".repeat(
              10
            )
      }}
    </p>
    <app-clip-board language="css" [code]="codeSnippet"></app-clip-board>
  </div>
</div>
